#DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/splitmate_new
DATABASE_URL=postgresql://neondb_owner:npg_VbhBgk9Alxq4@ep-raspy-feather-aoedl7wa-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=change_this_to_a_long_random_secret_key

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=240

REFRESH_TOKEN_EXPIRE_DAYS=7
